# Ignore all files without extension (compiled binaries)
*
!/*/
!*.*
!LICENSE
!Makefile

# Re-specify ignored extensions after the * rule
*.png
*.json
*.exe
*.txt
nimcache/
.vscode/
/bin/
